body {
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
}

.appTitle #title {
	color: #212529;
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	font-weight: lighter;
	margin-top: 20px;
	text-align: center;
}

.convert a {
	color: blue;
}

.convert a:hover {
	color: goldenrod;
	transition: 14ms ease-in-out;
}

.convert .active {
	color: rgb(53, 52, 52);
	cursor: default;
	font-weight: bold;
	text-decoration: none;
}

.convert .active:hover {
	color: darkslategray;
	cursor: default;
}

.navigation .navbar {
	border-radius: 2px;
	height: 60px;
}

.navigation .navbar button {
	border: 1px solid black;
	color: rgb(239, 239, 239);
}

.navigation .navbar #currentDateTime {
	color: rgb(239, 239, 239);
	display: block;
	font-size: 14px;
	position: right;
}

.currentCity .currentConditions .card {
	background-color: #fff;
	border: none;
	border-radius: 2px;
	text-transform: capitalize;
}

.currentCity .currentConditions .card #tempApiIcon img {
	height: 115px;
	width: 130px;
}

.currentCity .currentConditions .card #windApi {
	text-transform: none;
}

.currentCity .currentConditions .card img {
	height: 610px;
	opacity: 0.95;
	width: 840px;
}

.currentCity .currentConditions .card-title {
	background: #21252959;
	border: none;
	color: whitesmoke;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 55px;
	font-weight: bolder;
	margin-bottom: 0;
	padding: 10px;
	width: 440px;
}

.currentCity .currentConditions .card .card-img-overlay {
	border: none;
	color: whitesmoke;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 30px;
	font-weight: bolder;
	margin-top: 0;
	padding: 10px;
	width: 440px;
}

.currentCity .currentConditions .card .card-img-overlay .temp {
	background: #21252959;
	border: none;
	padding: 10px;
	width: 440px;
}

.currentCity .currentConditions .card .card-img-overlay .apiTimeStamp {
	background: #21252959;
	font-size: 14px;
	padding: 10px;
	width: 440px;
}

.weather-forecast {
	border: 1px solid lightgray;
	margin-top: 20px;
	text-align: center;
}

.weather-forecast-date {
	color: #21252959;
	font-size: 18px;
}

.weather-forecast-temperatures {
	font-size: 14px;
}

.myGit {
	margin-top: 20px;
}
